  {% include widgets/layouts/navbar-vertical.html %}

<div class="nav-pf-vertical
     {% if page.submenus %}nav-pf-vertical-with-sub-menus{% endif %}
     {% if page.persistent-secondary %}nav-pf-persistent-secondary{% endif %}
     {% if page.collapsible-menus %}nav-pf-vertical-collapsible-menus{% endif %}
     {% if page.hide-icons %}hidden-icons-pf{% endif %}
     {% if page.nav-badges %}nav-pf-vertical-with-badges{% endif %}">
  <ul class="list-group">
    <li class="list-group-item">
      <a href="/#">
        <span class="fa fa-dashboard" data-toggle="tooltip" title="Home"></span>
        <span class="list-group-item-value">Home</span>
      </a>
    </li>
    <li class="list-group-item">
      <a href="/articles">
        <span class="fa fa-paper-plane" data-toggle="tooltip" title="Articles"></span>
        <span class="list-group-item-value">Articles</span>
      </a>
    </li>
    <li class="list-group-item">
      <a href="/services">
        <span class="fa fa-rocket" data-toggle="tooltip" title="Services"></span>
        <span class="list-group-item-value">Services</span>
      </a>
    </li>
    <li class="list-group-item">
      <a href="/about">
        <span class="fa fa-graduation-cap" data-toggle="tooltip" title="About"></span>
        <span class="list-group-item-value">About</span>
      </a>
    </li>
    <li class="list-group-item">
      <a href="/links">
        <span class="fa fa-link" data-toggle="tooltip" title="Links"></span>
        <span class="list-group-item-value">Links</span>
      </a>
    </li>
    <li class="list-group-item">
      <a href="/docs/latest/welcome/">
        <span class="fa fa-book" data-toggle="tooltip" title="Links"></span>
        <span class="list-group-item-value">Docs</span>
      </a>
    </li>
  </ul>
</div>

<script>
  $(document).ready(function() {
    // matchHeight the contents of each .card-pf and then the .card-pf itself
    $(".row-cards-pf > [class*='col'] > .card-pf .card-pf-title").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-body").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-footer").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf").matchHeight();

    // Initialize the vertical navigation
    $().setupVerticalNavigation(true);
  });
</script>
